<h1>Post#new</h1>

<form action="/post/create">
    title : <input type="text" name="title"/><br>
    content : <input type="text" name="content"/><br>
    <input type="submit" value="submit" /><br>
</form>
<a href="/">home</a>
