<h1>User#login</h1>

<%= render 'layouts/flash' %>
<!--
<form action="/user/login_process" method="post">
    email : <input type="email" name="email"/><br>
    password : <input type="password" name="password"/><br>
    <input type="hidden" name="authenticity_token" value="<%#=form_authenticity_token()%>"/>
    <input type="submit" value="submit" /><br>
</form>
-->
<div class="row">
  <div class="col-md-3 col-xs-0"></div>
  <div class="col-md-6 col-xs-12">
    <%#= form_tag("/user/login_process", method: "post") do %>
      <%#= label_tag(:email, "email :") %>
      <%#= text_field_tag(:email) %><!--<br>-->
      <%#= label_tag(:content, "password :") %>
      <%#= password_field_tag(:password) %><!--<br>-->
      <%#= submit_tag("submit") %>
    <%# end %>
 
  <form action="/user/login_process" method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input">
        Check me out
      </label>
    </div>
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token()%>"/>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form> 

  </div>
  <div class="col-md-3 col-xs-0"></div>
</div>
